@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 1em;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
a {
	color: #040404;
	text-decoration: none;
}
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	color: #000;
	font-size: 1.2rem;
	font-family: HiraKakuProN-W3;
	line-height: 1.2;
	text-align: center;
	background-color: #FFF;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
#container {
	text-align: left;
}
/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
}
/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi {
}
/*------------------------------------------------------------
	main
------------------------------------------------------------*/
#main {
}
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
}
